.container
    .background-top.z-depth-1
    .background-bottom
.valign-wrapper
    .container
        = form_tag login_path, id: "formLogin" do
            .row
                .col.s8.offset-s2
                    .card.white.darken-1
                        .card-content
                            %span.card-title
                                Login
                            %p
                                .input-field
                                    %input{:type =>"text",:id => "username",:name => "username"}
                                    %label{:for=>"username"}
                                        Username   
                                .input-field
                                    %input{:type =>"password",:id => "password",:name => "password"}
                                    %label{:for=>"password"}
                                        Password
                        .card-action
                            
                            %button.waves-effect.waves-teal.btn-flat#login_button
                                %span.orange-text
                                    Login
                            %a{:href =>"/register"}
                                %button.waves-effect.waves-teal.btn-flat#register-button
                                    %span.orange-text
                                        Register
        = form_tag login_path, id: "formSession" do
            = hidden_field_tag 'token', ''
                