.container
    .background-top.z-depth-1
    .background-bottom
.valign-wrapper
    .container    
        .row
            %span#errorMsg
            = form_tag users_path, id: "formValidate", class: "left-alert"  do
                .col.s8.offset-s2
                    .card.white.darken-1
                        .card-content
                            %span.card-title
                                Register
                            %p
                                .input-field
                                    %input{:type =>"text",:id => "username",:name => "username","data-error"=>".errorTxt1", :required =>""}
                                    %label{:for=>"username"}
                                        Username 
                                    .errorTxt1
                                .input-field
                                    %input{:type =>"email",:id => "email", :name => "email", "data-error"=>".errorTxt2"}
                                    %label{:for=>"email"}
                                        Email
                                    .errorTxt2
                                .input-field
                                    %input{:type =>"password",:id => "password",:name => "password","data-error"=>".errorTxt3"}
                                    %label{:for=>"password"}
                                        Password
                                    .errorTxt3
                                .input-field
                                    %input{:type =>"password",:id => "confirmpassword",:name => "confirmpassword","data-error"=>".errorTxt4"}
                                    %label{:for=>"confirmpassword"}
                                        Confirm Password
                                    .errorTxt4
                        .card-action
                            %button.waves-effect.waves-teal.btn-flat{:type =>"submit",:name=>"action"}
                                %span.orange-text
                                    Register
                                    
:coffeescript
    $( '#formValidate' ).validate
        rules:
            username:
                required: true
                minlength: 5
            email:
                required: true
                email: true
            password:
                required: true
                minlength: 5
            confirmpassword:
                required: true
                minlength: 5
                equalTo: '#password'
        messages:
            username:
                minlength: "Enter at least 5 characters"
            email:
                email: "Enter a valid email"
            confirmpassword:
                equalTo: 'Passwords must match'                                                             
        errorElement: 'div'
        errorPlacement: (error, element) ->
            placement = $(element).data('error')
            if placement
                $(placement).append error
            else
                error.insertAfter element
            return
    $('#formValidate').submit (e) ->
        url = '/api/register'
        $.ajax
            type: 'POST'
            url: url
            data: $('#formValidate').serialize()
            success: (data) ->
                $("#see_comments").click ->
                    $('<form action="/login" method="POST">' + 
                    '<input type="hidden" name="token" value="' + data.token + '">' +
                    '</form>').submit();
                return
            failure: (data) ->
                $("#errorMsg").text(data.message)
        e.preventDefault()
        return