%header
    %div.navbar-fixed
        %nav
            %div.nav-wrapper
                %a{:href => '#', "data-activates" => 'slide-out', :class => 'button-collapse', "data-turbolinks" => 'false'}
                    %i.material-icons menu
                %ul#nav-mobile.right.hide-on-med-and-down
                    %li
                        %a{:href => '#'}
                            %i.material-icons more_vert