.navbar-fixed
    %nav
        .nav-wrapper
            - if !@title.nil?
                %a.brand-logo.center{:href => '#'}
                    = @title
            %a.button-collapse{:href => '#', "data-activates" => 'nav-mobile', :class => 'button-collapse', "data-turbolinks" => 'false'}
                %i.material-icons menu
            %ul.right
                %li
                    %a{:href => "#"}
                        %i.material-icons more_vert