<div class="row">
    <div class="col s12">
        <h1>dexterity.io</h1>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <p>A smarter way to manage your projects.</p>
    </div>
</div>
