// Place all the styles related to the swimlanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.connectedSortable {
    border: 1px solid #eee;
    min-height: 100px;
    list-style-type: none;

    li{
      margin: 0 5px 5px 5px;
      padding: 5px;
      font-size: 1.2em;
    }
  }