.container
    .row
        .col
            %h7.white-text
                Dexterity.io
            %p.orange-text.text-lighten-3
                A better way to manage your projects.
.footer-copyright
    .container
        © 2017 Selt Group 3