.container
    .row
        .col
            %ul
                %h7.white-text
                    Dexterity.io
                %p.orange-text.text-lighten-3
                    A better way to manage your projects.
        .col.l8.m6
            %ul.right
                © 2017 Selt Group 10